$heading-font-family: "LondrinaSolid", serif
$body-font-family: "Helvetica Bold", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none
