$heading-font-family: "LondrinaSolidR", serif
$body-font-family: "Helvetica Bold", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: white
$background-color: #011331
