$heading-font-family: "LondrinaSolidR", serif
$body-font-family: "Helvetica Bold", sans-serif
$heading-font-color: #FF6B19

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: white
$body-background-color: #FEFBF6
