@include media-breakpoint-up(desktop)
  .hero
    min-height: 0
    margin-bottom: 0 !important
    margin-top: 0 !important
  
@media (min-width: 992px)
  header#document-header .logo img
    height: 70px !important
  footer#document-footer .logo img
    height: 70px !important
  .hero .content
    padding-top: 0 !important

#video-0 .block-content
  padding: 0 !important 

.block-class-taille-image
  width: 90% !important

.block-class-taille-image-2
  width: 70% !important
  margin-left: 64px !important
  padding-top: 10px
  
a li
  color-accent: #FF6B19
  
.persons__section .persons:last-child
  padding-top:2rem !important
