@include media-breakpoint-up(desktop)
  .hero
    margin-bottom: 0
    min-height: 0
    padding-bottom: 0
  
@media (min-width: 992px)
  .hero .content
    padding-top: 0 !important

#video-0 .block-content
  padding: 0 !important 

  .block-class-taille-image{
  width: calculate-image-size(200px, 1.5); // Largeur calculée
  height: calculate-image-size(150px, 1.5); // Hauteur calculée
}
