.block-class-border-radius
  background-color: black !important

@include media-breakpoint-up(desktop)
  .hero
    margin-bottom: 0
    min-height: 0
    padding-bottom: 0

    @media (min-width: 992px)
  body:not(.full-width) .document-content .block .block-content,
  body:not(.full-width) .document-content .heading h2
    margin: 0 auto
    max-width: 100% // Empêche le débordement si nécessaire
    text-align: center // Si c'est du texte
